<a href="https://colab.research.google.com/github/Kushwanth2004/python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")
a=int(input("enter a: "))
b=int(input("enter b: "))
c=int(input("enter c: "))
print(a+b)
print((a+b)**3)
print(a==b)
print(a>b)
print(a<b)
print((a>3) or (b<2))
list=[10,20,30,40,50]
print(list)
name="kushwanth"
print("w"  not in name)
print(20 in list)
if a>0:
  print(a,"is positive")
elif a<0:
  print(a,"is negative")
else:
  print(a, "is 0")

if(a%2==0):
  print("even")
else:
  print("odd")

if(a>b and a>c):
  print("a is greatest")
elif(b>c):
  print("b is greatest")
else:
    print("c is greatest")

name="kushwanth"
len(name)

hello world
enter a: 5
enter b: 7
enter c: 3
12
1728
False
False
True
True
[10, 20, 30, 40, 50]
False
True
5 is positive
odd
b is greatest

9

functions

In [ ]:
def kush():
  print("kushwanth")

def add():
  a=20
  b=43
  print(a+b)

def addi(a,b):
  sum=a+b
  print(sum)

def sum(x,y):
  return x+y

def calci():
  a=int(input("a: "))
  b=int(input("b: "))
  sum=a+b
  sub=a-b
  mul=a*b
  div=a/b
  print(sum,sub,mul,div)

#main
kush()
add()
addi(12,32) #function call
result = sum(22,33)
print(result)
calci()

kushwanth
63
44
55
a: 8
b: 9
17 -1 72 0.8888888888888888

Modules

In [ ]:
import math
a=int(input("enter number"))
sq=math.sqrt(a)
print(sq)

enter number256
16.0

Lists

In [ ]:
cricket=["virat","rohit","siraj","shami","bumrah","bhuvi","iyer"]
i=0
for i in cricket:
  print(i)

print(cricket[-4])

virat
rohit
siraj
shami
bumrah
bhuvi
iyer
shami

Loops

In [ ]:
for i in range(0,20,2):
  print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
i=0
while i < 15:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
for i in range(0,13):
  if i==7:
    continue
  print(i)

0
1
2
3
4
5
6
8
9
10
11
12

In [ ]:
for i in range(0,13):
  if i==7:
    break
  print(i)

0
1
2
3
4
5
6

In [4]:
str="vizag"
for i in str:
  print(i)

print( 'g' in str)

v
i
z
a
g
True

In [6]:
total=0
num=int(input("enter number"))
while num !=0:
  total=total+num
  num=int(input("enter number"))

print(total)

enter number32
enter number45
enter number22
enter number54
enter number0
153